body{
    background-color: lavender;
    font-family: Verdana, Arial, sans-serif;
    font-size: 30px ;
    color: chocolate;
    text-align: center;
    padding-top: 4em;
}
form {
   
    margin: 0 auto; 
    width:600px;
    max-width: 60%; 
	background-color: lightblue;
	color: white;
	font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 30px ; 
}
label {
            font-weight: normal;
            font-family: cursive;
            color: blue;
            font-size: 20px ;
}
span{
    font-size: 50px;
    font-family:fantasy;
}    
